<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.restsample">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="RESTSample">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCJ_gMuhfVXHQi5gxcb-i_XtmZg1bLP7-Y" />
	</application>
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
